@model  Shurjopay.Plugin.Models.VerifiedPayment

@{
    ViewData["Title"] = "Payment Details";
}

<h1>Details</h1>

<div>
    <h4>VerifiedPayment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayableAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayableAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discpercent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discpercent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsdAmt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsdAmt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsdRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsdRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceivedAmt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceivedAmt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardHolder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardHolder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankTxnId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankTxnId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerOrderId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerOrderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpMessage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpMessage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TxnStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TxnStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TxnTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TxnTime)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
